
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <img src="~/Public/image/banner1.png" class="img-fluid" style="width:100%" />
            </div>
            <div class="col-sm-4">
                <h2>24H CÔNG NGHỆ</h2>
                <div class="tin">
                    <img src="~/Public/image/tin.jpg" class="img-fluid" style="width:100%" />
                    <a href="#">Galaxy A71 cực kỳ đáng mua với chip Rồng mạnh mẽ, màn hình 90 Hz</a>
                </div>
            </div>

        </div>

    </div>
</div>