
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Product">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Public/image/ip/ip12pro.jpg">
                    <div class="card-body">
                        <h5 class="card-title text-center">IPHONE 12 PRO</h5>
                        <p class="card-text">
                            Display: 6.1 ", Super Retina XDR
                            Chip: Apple A14 Bionic 6 cores
                            RAM: 6 GB
                        </p>
                        <a href="" class="btn btn-primary d-block">MUA NGAY</a>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">

                    <img class="card-img-top" src="~/Public/image/mi/mi11.jpg">
                    <div class="card-body">
                        <h5 class="card-title text-center">XIAOMI MI 11 5G</h5>
                        <p class="card-text">
                            Màn hình:	AMOLED, 6.81", Quad HD+ (2K+)
                            CPU:	Snapdragon 888 8 nhân
                            RAM:	8 GB
                        </p>
                        <a href="" class="btn btn-primary d-block">MUA NGAY</a>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">

                    <img class="card-img-top" src="~/Public/image/op/oprn5.jpg">
                    <div class="card-body">
                        <h5 class="card-title text-center">OPPO RENO 5</h5>
                        <p class="card-text">
                            Màn hình:	AMOLED, 6.43", Full HD+
                            CPU:	Snapdragon 720G 8 nhân
                            RAM:	8 GB
                        </p>
                        <a href="" class="btn btn-primary d-block">MUA NGAY</a>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Public/image/ss/s21.jpg">
                    <div class="card-body">
                        <h5 class="card-title text-center">SAMSUNG GALAY S21</h5>
                        <p class="card-text">
                            Màn hình:	Dynamic AMOLED 2X, 6.8", Quad HD+ (2K+)
                            CPU:	Exynos 2100 8 nhân
                            RAM: 12GB
                        </p>
                        <a href="" class="btn btn-primary d-block">MUA NGAY</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--End div Product-->

<div class="Product-1">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Public/image/ip/ip12pro.jpg">
                    <div class="card-body">
                        <h5 class="card-title text-center">IPHONE 12 PRO</h5>
                        <p class="card-text">
                            Display: 6.1 ", Super Retina XDR
                            Chip: Apple A14 Bionic 6 cores
                            RAM: 6 GB
                        </p>
                        <a href="" class="btn btn-primary d-block">MUA NGAY</a>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">

                    <img class="card-img-top" src="~/Public/image/mi/mi11.jpg">
                    <div class="card-body">
                        <h5 class="card-title text-center">XIAOMI MI 11 5G</h5>
                        <p class="card-text">
                            Màn hình:	AMOLED, 6.81", Quad HD+ (2K+)
                            CPU:	Snapdragon 888 8 nhân
                            RAM:	8 GB
                        </p>
                        <a href="" class="btn btn-primary d-block">MUA NGAY</a>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">

                    <img class="card-img-top" src="~/Public/image/op/oprn5.jpg">
                    <div class="card-body">
                        <h5 class="card-title text-center">OPPO RENO 5</h5>
                        <p class="card-text">
                            Màn hình:	AMOLED, 6.43", Full HD+
                            CPU:	Snapdragon 720G 8 nhân
                            RAM:	8 GB
                        </p>
                        <a href="" class="btn btn-primary d-block">MUA NGAY</a>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Public/image/ss/s21.jpg">
                    <div class="card-body">
                        <h5 class="card-title text-center">SAMSUNG GALAY S21</h5>
                        <p class="card-text">
                            Màn hình:	Dynamic AMOLED 2X, 6.8", Quad HD+ (2K+)
                            CPU:	Exynos 2100 8 nhân
                            RAM: 12GB
                        </p>
                        <a href="" class="btn btn-primary d-block">MUA NGAY</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--End div Product-1-->

<div class="Product-2">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Public/image/ip/ip12pro.jpg">
                    <div class="card-body">
                        <h5 class="card-title text-center">IPHONE 12 PRO</h5>
                        <p class="card-text">
                            Display: 6.1 ", Super Retina XDR
                            Chip: Apple A14 Bionic 6 cores
                            RAM: 6 GB
                        </p>
                        <a href="" class="btn btn-primary d-block">MUA NGAY</a>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">

                    <img class="card-img-top" src="~/Public/image/mi/mi11.jpg">
                    <div class="card-body">
                        <h5 class="card-title text-center">XIAOMI MI 11 5G</h5>
                        <p class="card-text">
                            Màn hình:	AMOLED, 6.81", Quad HD+ (2K+)
                            CPU:	Snapdragon 888 8 nhân
                            RAM:	8 GB
                        </p>
                        <a href="" class="btn btn-primary d-block">MUA NGAY</a>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">

                    <img class="card-img-top" src="~/Public/image/op/oprn5.jpg">
                    <div class="card-body">
                        <h5 class="card-title text-center">OPPO RENO 5</h5>
                        <p class="card-text">
                            Màn hình:	AMOLED, 6.43", Full HD+
                            CPU:	Snapdragon 720G 8 nhân
                            RAM:	8 GB
                        </p>
                        <a href="" class="btn btn-primary d-block">MUA NGAY</a>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Public/image/ss/s21.jpg">
                    <div class="card-body">
                        <h5 class="card-title text-center">SAMSUNG GALAY S21</h5>
                        <p class="card-text">
                            Màn hình:	Dynamic AMOLED 2X, 6.8", Quad HD+ (2K+)
                            CPU:	Exynos 2100 8 nhân
                            RAM: 12GB
                        </p>
                        <a href="" class="btn btn-primary d-block">MUA NGAY</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--End div Product-2-->
