<link href="~/Public/Css/option.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-10 py-4 d-inline-block option">
            <label>Chọn mức giá: </label>
            <a href="/dtdd?p=duoi-2-trieu" class=" " data-id="7">
                Dưới 2 triệu
            </a>
            <a href="/dtdd?p=tu-2-4-trieu" class=" " data-id="9">
                Từ 2 - 4 triệu
            </a>
            <a href="/dtdd?p=tu-4-7-trieu" class=" " data-id="289">
                Từ 4 - 7 triệu
            </a>
            <a href="/dtdd?p=tu-7-13-trieu" class=" " data-id="562">
                Từ 7 - 13 triệu
            </a>
            <a href="/dtdd?p=tu-13-20-trieu" class=" " data-id="252">
                Từ 13 - 20 triệu
            </a>
            <a href="/dtdd?p=tren-20-trieu" class=" " data-id="253">
                Trên 20 triệu
            </a>
        </div>
        <div class="col-md-2 py-4">
            <div class="dropdown show">
                <a class="btn btn-outline-primary dropdown-toggle sapxep" style="background-color: white;color: #007bff" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sắp Xếp
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Giá cao đến thập</a>
                    <a class="dropdown-item" href="#">Giá thấp đến cao</a>
                </div>
            </div>
        </div>
    </div>
</div>