@model IEnumerable<MyLibrary.Model.Category>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("Slideshow", "Module")

<div class="row">
    <div class="col-md-3 mt-5">
        @Html.Action("ListCategory", "Module")
    </div>
    <div class="col-md-9 mt-5 border-gray">
        @foreach (var cat in Model)
        {
            @*<h3 class="text-center mt-5 category-item">
                <a href="~@cat.Slug">@cat.Name</a>
            </h3>*@
            @Html.Action("ProductHome", "Site", new { @catId = cat.Id, @name = cat.Name})
        }
        <!--End div Product-->
    </div>
</div>




