@model MyLibrary.Model.Post
@{
    ViewBag.Title = "PostDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>@Model.Title</h1>
            <img class="d-block ml-auto mr-auto img-fluid" style="width:75%" src="~/Public/image/tintuc/@Model.Img"/>
            <h3 class="text-center mt-3">@Model.Type</h3>
            <p class="content mt-3 text-black-50" style="font-size:18px">
                @Html.Raw(Model.Detail)
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Nội dung khác</h3>
            <ul>
                @foreach (var row_other in ViewBag.ListOther)
                {
                    <li><a href="~/@row_other.Slug">@row_other.Title</a></li>
                }
            </ul>
        </div>
    </div>
</div>

