
@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="<html lang=" en-US" prefix="og: http://ogp.me/ns#" ">
<head>
    <meta name="google-site-verification" content="emdm74bOQcYVZfuZPE1yyRDsrZnjBgR-vrEmZE9M-7w" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37439185-2"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-37439185-2');
    </script>

    <title>aa</title>

    <!-- Bootstrap core CSS -->
    <link href="http://www.hoanvusolutions.com.vn/wp-content/themes/hoanvu/css/bootstrap.css" rel="stylesheet">
    <link href="http://www.hoanvusolutions.com.vn/wp-content/themes/hoanvu/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://www.hoanvusolutions.com.vn/wp-content/themes/hoanvu/css/style.css" rel="stylesheet">
    <link href="http://www.hoanvusolutions.com.vn/wp-content/themes/hoanvu/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://www.hoanvusolutions.com.vn/wp-content/themes/hoanvu/css/custom.css" />

    <link href="http://www.hoanvusolutions.com.vn/wp-content/themes/hoanvu/css/responsive.css" rel="stylesheet">
    <!-- Javascript -->
    <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <script type='text/javascript' src="https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
    <!-- This site is optimized with the Yoast SEO plugin v5.7.1 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="description" content="Giới thiệu tín năng cần có của website bán hàng cần thiết cho những ai đang muốn kinh doanh online với website bán hàng thì đây là những tín nâng tốt nhất ." />
    <meta name="keywords" content="gioi thieu tinh nang can co cua website ban hang ,giới thiệu tín năng cần có của website bán hàng,thiết kế web bán hàng, thiết kế website giáo dục, thiết kế website bệnh viện," />
    <link rel="canonical" href="http://www.hoanvusolutions.com.vn/gioi-thieu-tinh-nang-can-co-cua-website-ban-hang/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Giới Thiệu Tín Năng Cần Có Của Website Bán Hàng-thiết kế website" />
    <meta property="og:description" content="Giới thiệu tín năng cần có của website bán hàng cần thiết cho những ai đang muốn kinh doanh online với website bán hàng thì đây là những tín nâng tốt nhất ." />
    <meta property="og:url" content="http://www.hoanvusolutions.com.vn/gioi-thieu-tinh-nang-can-co-cua-website-ban-hang/" />
    <meta property="og:site_name" content="Công Ty Lập Trình Di Động - Thiết Kế Web Chuyên Nghiệp" />
    <meta property="article:tag" content="thiet ke website" />
    <meta property="article:section" content="Tin" />
    <meta property="article:published_time" content="2016-03-16T13:59:24+00:00" />
    <meta property="article:modified_time" content="2016-03-16T14:08:06+00:00" />
    <meta property="og:updated_time" content="2016-03-16T14:08:06+00:00" />
    <meta property="og:image" content="http://www.hoanvusolutions.com.vn/wp-content/uploads/2016/03/gioi-thieu-tinh-nang-can-co-cua-website-ban-hang.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Giới thiệu tín năng cần có của website bán hàng cần thiết cho những ai đang muốn kinh doanh online với website bán hàng thì đây là những tín nâng tốt nhất ." />
    <meta name="twitter:title" content="Giới Thiệu Tín Năng Cần Có Của Website Bán Hàng-thiết kế website" />
    <meta name="twitter:image" content="http://www.hoanvusolutions.com.vn/wp-content/uploads/2016/03/gioi-thieu-tinh-nang-can-co-cua-website-ban-hang.png" />
    <!-- / Yoast SEO plugin. -->

    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="Công Ty Lập Trình Di Động - Thiết Kế Web Chuyên Nghiệp &raquo; Feed" href="http://www.hoanvusolutions.com.vn/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Công Ty Lập Trình Di Động - Thiết Kế Web Chuyên Nghiệp &raquo; Comments Feed" href="http://www.hoanvusolutions.com.vn/comments/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Công Ty Lập Trình Di Động - Thiết Kế Web Chuyên Nghiệp &raquo; Giới Thiệu Tín Năng Cần Có Của Website Bán Hàng Comments Feed" href="http://www.hoanvusolutions.com.vn/gioi-thieu-tinh-nang-can-co-cua-website-ban-hang/feed/" />
    <script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/www.hoanvusolutions.com.vn\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.8.16"}};
			!function(t,a,e){var r,i,n,o=a.createElement("canvas"),l=o.getContext&&o.getContext("2d");function c(t){var e=a.createElement("script");e.src=t,e.defer=e.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(e)}for(n=Array("flag","emoji4"),e.supports={everything:!0,everythingExceptFlag:!0},i=0;i<n.length;i++)e.supports[n[i]]=function(t){var e,a=String.fromCharCode;if(!l||!l.fillText)return!1;switch(l.clearRect(0,0,o.width,o.height),l.textBaseline="top",l.font="600 32px Arial",t){case"flag":return(l.fillText(a(55356,56826,55356,56819),0,0),e=o.toDataURL(),l.clearRect(0,0,o.width,o.height),l.fillText(a(55356,56826,8203,55356,56819),0,0),e===o.toDataURL())?!1:(l.clearRect(0,0,o.width,o.height),l.fillText(a(55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447),0,0),e=o.toDataURL(),l.clearRect(0,0,o.width,o.height),l.fillText(a(55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447),0,0),e!==o.toDataURL());case"emoji4":return l.fillText(a(55358,56794,8205,9794,65039),0,0),e=o.toDataURL(),l.clearRect(0,0,o.width,o.height),l.fillText(a(55358,56794,8203,9794,65039),0,0),e!==o.toDataURL()}return!1}(n[i]),e.supports.everything=e.supports.everything&&e.supports[n[i]],"flag"!==n[i]&&(e.supports.everythingExceptFlag=e.supports.everythingExceptFlag&&e.supports[n[i]]);e.supports.everythingExceptFlag=e.supports.everythingExceptFlag&&!e.supports.flag,e.DOMReady=!1,e.readyCallback=function(){e.DOMReady=!0},e.supports.everything||(r=function(){e.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",r,!1),t.addEventListener("load",r,!1)):(t.attachEvent("onload",r),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&e.readyCallback()})),(r=e.source||{}).concatemoji?c(r.concatemoji):r.wpemoji&&r.twemoji&&(c(r.twemoji),c(r.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <!--<link rel='stylesheet' id='contact-form-7-css' href='http://www.hoanvusolutions.com.vn/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.9' type='text/css' media='all' />
    <link rel='stylesheet' id='prefix-style-css' href='http://www.hoanvusolutions.com.vn/wp-content/plugins/wp-share-buttons/style/front.end.css?ver=4.8.16' type='text/css' media='all' />
    <link rel='stylesheet' id='twentyfourteen-lato-css' href='//fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%2C900%2C300italic%2C400italic%2C700italic' type='text/css' media='all' />
    <link rel='stylesheet' id='genericons-css' href='http://www.hoanvusolutions.com.vn/wp-content/themes/hoanvu/genericons/genericons.css?ver=3.0.2' type='text/css' media='all' />
    <link rel='stylesheet' id='twentyfourteen-style-css' href='http://www.hoanvusolutions.com.vn/wp-content/themes/hoanvu/style.css?ver=4.8.16' type='text/css' media='all' />-->
    <!--[if lt IE 9]>
    <link rel='stylesheet' id='twentyfourteen-ie-css'  href='http://www.hoanvusolutions.com.vn/wp-content/themes/hoanvu/css/ie.css?ver=20131205' type='text/css' media='all' />
    <![endif]-->
    <!--<link rel='stylesheet' id='tablepress-default-css' href='http://www.hoanvusolutions.com.vn/wp-content/plugins/tablepress/css/default.min.css?ver=1.8.1' type='text/css' media='all' />
    <script type='text/javascript' src='http://www.hoanvusolutions.com.vn/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='http://www.hoanvusolutions.com.vn/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <link rel='https://api.w.org/' href='http://www.hoanvusolutions.com.vn/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.hoanvusolutions.com.vn/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.hoanvusolutions.com.vn/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.8.16" />
    <link rel='shortlink' href='http://www.hoanvusolutions.com.vn/?p=2138' />
    <link rel="alternate" type="application/json+oembed" href="http://www.hoanvusolutions.com.vn/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.hoanvusolutions.com.vn%2Fgioi-thieu-tinh-nang-can-co-cua-website-ban-hang%2F" />
    <link rel="alternate" type="text/xml+oembed" href="http://www.hoanvusolutions.com.vn/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.hoanvusolutions.com.vn%2Fgioi-thieu-tinh-nang-can-co-cua-website-ban-hang%2F&#038;format=xml" />
    <link rel="icon" href="http://www.hoanvusolutions.com.vn/wp-content/uploads/2017/07/cropped-logo-hv-32x32.png" sizes="32x32" />
    <link rel="icon" href="http://www.hoanvusolutions.com.vn/wp-content/uploads/2017/07/cropped-logo-hv-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="http://www.hoanvusolutions.com.vn/wp-content/uploads/2017/07/cropped-logo-hv-180x180.png" />
    <meta name="msapplication-TileImage" content="http://www.hoanvusolutions.com.vn/wp-content/uploads/2017/07/cropped-logo-hv-270x270.png" />
    <link rel="publisher" href="https://plus.google.com/+ThietkewebhoanvuBlogspot/" />-->
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-56XQFK"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-56XQFK');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    <img src="~/Public/image/aa.png">
                </a>
            </div>
        </div><!--/.container-fluid -->
    </nav>
    <!-- Facebook Pixel Code -->
    <script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '276385596140465'); // Insert your pixel ID here.
fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=276385596140465&ev=PageView&noscript=1" />
    </noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67301533-1', 'auto');
  ga('send', 'pageview');
    </script>
    <script lang="javascript">(function() {var pname = ( (document.title !='')? document.title : document.querySelector('h1').innerHTML );var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async=1; ga.src = '//live.vnpgroup.net/js/web_client_box.php?hash=6b9d5327d5b4f0f340bde65e1b674ac4&data=eyJzc29faWQiOjQ1MzI0NjEsImhhc2giOiI4MzIwZmJkMTA1MjAzYWVlNzE1M2NlMWExMGU3NjNkMSJ9&pname='+pname;var s = document.getElementsByTagName('script');s[0].parentNode.insertBefore(ga, s[0]);})();</script>
    <a style="text-decoration: none;
    width: auto;
    background: #2980b9;
    position: fixed;
    bottom: 35px;
    left: 35px;
    color:#FFFFFF;
    padding: 7px 12px;
    box-shadow: 0 4px 12px rgba(10, 10, 10, .2);
    padding-left: 10px;
    border-radius: 5px;
    transition: all .3s ease;
    text-align: left;
    z-index: 99999;
    font: 16px/24px Helvetica, Arial, sans-serif;" href="tel:0903882316 " class="call-info" onclick="javascript:void(0);">
        <span><i class="fa fa-phone fa-2x"></i> 0903.882.316 ( Mr.Hải )</span>
    </a><div class="content">
        <div class="banner" style="background:  !important">
            <div class="container">
                <h2 class="animated"></h2>
                <img width="100%" src="" />

            </div>
        </div>
        <div class="container">
            <div class="box-main">
                <div class="row">
                    <div class="col-sm-3">
                        <h4>Các Sản phẩm</h4>
                        <div class="left-main">
                            <ul>
                                <li class="active"><a href="https://localhost:44317/ip"> Điện thoại Iphone</a></li>
                                <li class="active"><a href="https://localhost:44317/ss"> Điện thoại Samsung</a></li>
                                <li class="active"><a href="https://localhost:44317/op"> Điện thoại Oppo</a></li>
                                <li class="active"><a href="https://localhost:44317/mi"> Điện thoại Xiaomi</a></li>

                            </ul>
                        </div>
                        <h4>Các Chính sách</h4>
                        <div class="left-main">

                            <ul>
                                <li class="active"><a href="https://www.thegioididong.com/huong-dan-mua-hang"> Chính sách mua hàng</a></li>
                                <li class="active"><a href="https://www.thegioididong.com/giao-hang"> Chính sách vận chuyển</a></li>
                                <li class="active"><a href="https://www.thegioididong.com/chinh-sach-bao-hanh-san-pham"> Chính sách đổi trả</a></li>
                                <li class="active"><a href="https://www.thegioididong.com/chinh-sach-bao-hanh-san-pham"> Chính sách bảo hành</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="right-main">
                            <h1 class="title-main"> Giới Thiệu về MinhLuong Mobile</h1>
                            <div class="content-main">
                                <div class="entry-content">
                                    Trong thời đại tăng trưởng như hiện nay, bán hàng ko chỉ được thực bây giờ một địa điểm vật lí cụ thể, các điểm bán hàng trên thị trường mà hoạt động này còn được tiến hành theo 1 xu hướng mới- xu hướng tiến bộ của thời đại kỹ thuật thông tin. đặc thù là bạn trẻ ngày nay, có 1 sự biến đổi to trong bắt mắt chọn hàng .
                                    <blockquote><img class="img-fluid" src="~/Public/image/gioithieu.jpg"  alt="gioi-thieu-tinh-nang-can-co-cua-website-ban-hang" width="1326" height="663" /> <strong><a href="http://www.hoanvusolutions.com.vn/gioi-thieu-tinh-nang-can-co-cua-website-ban-hang/" target="_blank">Giới Thiệu Tín Năng Cần Có Của Website Bán Hàng</a></strong></blockquote>
                                    Họ sắm hàng chọn hàng online trực tuyến trên các trang mạng PR hay thay vì việc đi lòng vòng trên những điểm bán hàng để lựa chọn sản phẩm thì họ lại lên Internet để tậu kiếm theo nhu cầu của mình một cách nhanh chóng, tiện lợi . ấy cũng chính là thời điểm mà được xây dựng thương hiệu nhằm phân phối tới những siêu thị dịch vụ bề ngoài website bán hàng . Website bán hàng của doanh nghiệp được coi là khoảng trống giao dịch trực tiếp của nhà hàng trên mạng Internet bởi thế để chiếm được lòng tin của các bạn cũng như lôi kéo được sự sử dụng rộng rãi, lưu ý của khách hàng thì web bán hàng của bạn buộc phải thực sự hoạt động 1 cách nhiều năm kinh nghiệm và hiệu quả. Trong bài viết này, chúng tôi sẽ chế tạo cho bạn 1 số kiến thức về website bán hàng mà bạn bắt buộc và bắt buộc biết lúc với web bán hàng cho riêng mình.
                                    <h2><strong>Trước khi đưa website bán hàng của bạn vào hoạt động, web của bạn phải đảm bảo được những tính năng sau?</strong></h2>
                                    <h3><strong>1. bề ngoài thích nghi và thanh menu rõ ràng:</strong></h3>
                                    Khách truy cập website sở hữu thể đến từ đa dạng quốc gia và phương tiện truy cập khác nhau. trường hợp bề ngoài web của bạn mang tính thích nghi, nó sẽ tự động điều chỉnh sao cho ưa thích có đồ vật đang được sử dụng. Tính thích nghi được thể hiện ở chỗ sau khi truy cập vào website, người dùng có thể dễ dàng sắm những tab, đường link và nút bấm để có thể tới đúng trang họ bắt buộc. Song song mang việc mang mẫu mã thích nghi, trang web cũng phải có 1 bố cục rõ ràng để mang thể tự động điều chỉnh hướng nhìn của quý khách vào sản phẩm, nút tìm hàng hoặc giỏ hàng. các trang của bán hàng với khả năng tự điều chỉnh kích thước và những nút thanh toán cũng như giỏ hàng được làm nổi bật, giúp những khách hàng lần đầu tiên truy cập sở hữu thể nhìn thấy chúng dễ dàng.
                                    <h3><strong>2. Tương tác có khách hàng:</strong></h3>
                                    Tất cả những người truy cập vào website của bạn là do họ ưa chuộng tới sản phẩm hoặc tính năng nào đó mà trang web chế tạo. Và hiển nhiên họ sẽ sở hữu những thắc mắc, bắt buộc đơn thuần bởi thế bạn bắt buộc chuẩn bị sẵn sàng để đáp ứng hoặc trả lời. các mục thông tin dành cho các bạn, e-book miễn phí giải thích về sản phẩm, những công cụ hỗ trợ trực tuyến, video trực tuyến, các khóa đào tạo online, bản tin … đều sẽ là những phần cần thiết nhằm giúp khách hàng có thể hiểu hơn về doanh nghiệp bạn. Bạn cũng có thể thiết lập 1 diễn đàn dành riêng cho quý khách của mình và danh sách liên hệ email của họ để gửi các thông tin khuyến mãi, phiếu giảm giá, hoặc hàng cái … cho họ.
                                    <h3><strong>3. Website đạt chuẩn SEO:</strong></h3>
                                    Website bán hàng của bạn buộc phải được hợp lý hóa công cụ sắm kiếm là việc hết sức thiết yếu trong việc đưa website của bạn tiếp cận đến quý khách một cách sắp hơn. Bạn buộc phải tham khảo thêm những kiến thức về SEO nhằm đưa website của bạn lên Top đầu công cụ chọn kiếm.
                                    <h3><strong>4. Tích hợp những phương tiện truyền thông xã hội:</strong></h3>
                                    Hiện tại, phương tiện truyền thông xã hội được tích hợp vào website ngày càng phổ biến và bạn cũng cần khai thác những tính năng này để mang đến hiệu quả cao cho việc kinh doanh của mình. Nó sở hữu thể thúc đẩy quá trình SEO, cải thiện khả năng hiển thị nội dung và sản phẩm, cũng như tăng lượng truy cập đồng thời cũng làm cho nâng cao thứ hạng sắm kiếm cho trang web của bạn.
                                    <h3><strong>5. Thông tin của quý khách buộc phải được bảo mật:</strong></h3>
                                    Bảo mật là yếu tố quan trọng giúp tạo lòng tin của các bạn đối sở hữu siêu thị bạn. mang 1 website an toàn và đáng tin cậy là điều hết sức cần thiết khi bạn rao bán sản phẩm hoặc đơn thuần chỉ là thúc đẩy website của mình. những hình thức mã hóa như SSL, VeriSign, Trust E, Entrust, GeoTrust,Dmca,… là những phương pháp lý tưởng để bảo vệ website của bạn và ngăn chặn hacker xâm nhập phá hoại hình ảnh thương hiệu hoặc đánh cắp các dữ liệu người dùng.
                                    <h4><strong>Các tính năng từ các dịch vụ khác như :</strong></h4>
                                    <ul>
                                        <li><strong><a href="http://www.hoanvusolutions.com.vn/thiet-ke-web-thuong-mai-dien-tu/">Thiết Kế Web Thương Mại Điện Tử</a></strong></li>
                                        <li><strong><a href="http://www.hoanvusolutions.com.vn/thiet-ke-website-benh-vien/">Thiết Kế Website Bệnh Viện</a></strong></li>
                                        <li><strong><a href="http://www.hoanvusolutions.com.vn/thiet-ke-website-giao-duc/">Thiết Kế Website Giáo Dục</a></strong></li>
                                        <li><strong><a href="http://www.hoanvusolutions.com.vn/thiet-ke-web-ban-hang/%20%E2%80%8E">Thiết Kế Web Bán Hàng</a></strong></li>
                                    </ul>
                                    Ấy là năm khía cạnh website bán hàng của doanh nghiệp bạn thiết yếu để web của bạn vươn lên là nhiều năm kinh nghiệm, gây dựng hình ảnh rẻ trong lòng khách hàng và tự tin khẳng định thương hiệu của mình trên thị trường . Nếu bạn gặp khó khăn hãy tìm tới dịch vụ của Hoàn Vũ Solutions, chúng tôi sẽ giúp bạn thiết kế website bán hàng có toàn bộ tính năng bán hàng ưu việt nhất hiện tại đảm bảo web của bạn sẽ phát triển thành tâm điểm quan tâm đối với mọi khách hàng.
                                    <footer class="entry-meta"><span class="tag-links"><a href="http://www.hoanvusolutions.com.vn/tag/thiet-ke-website/" rel="tag">thiet ke website</a></span></footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
    <script src="http://www.hoanvusolutions.com.vn/wp-content/themes/hoanvu/js/bootstrap.js"></script>
    <script type="text/javascript" src="http://www.hoanvusolutions.com.vn/wp-content/themes/hoanvu/js/modernizr.custom.79639.js"></script>
    <script type="text/javascript" src="http://www.hoanvusolutions.com.vn/wp-content/themes/hoanvu/js/jquery.ba-cond.min.js"></script>
    <script type="text/javascript" src="http://www.hoanvusolutions.com.vn/wp-content/themes/hoanvu/js/jquery.slitslider.js"></script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67301533-1', 'auto');
  ga('send', 'pageview');

    </script>

    <script type="text/javascript">
  $(function() {

    var Page = (function() {

      var $navArrows = $('#nav-arrows'),
          $nav = $('#nav-dots > span'),
          slitslider = $('#slider').slitslider({
        onBeforeChange: function(slide, pos) {

          $nav.removeClass('nav-dot-current');
          $nav.eq(pos).addClass('nav-dot-current');

        }
      }),
      init = function() {

        initEvents();

      },
          initEvents = function() {

            // add navigation events
            $navArrows.children(':last').on('click', function() {

              slitslider.next();
              return false;

            });

            $navArrows.children(':first').on('click', function() {

              slitslider.previous();
              return false;

            });

            $nav.each(function(i) {

              $(this).on('click', function(event) {

                var $dot = $(this);

                if (!slitslider.isActive()) {

                  $nav.removeClass('nav-dot-current');
                  $dot.addClass('nav-dot-current');

                }

                slitslider.jump(i + 1);
                return false;

              });

            });

          };

      return {init: init};

    })();

    Page.init();

    /**
     * Notes:
     *
     * example how to add items:
     */

    /*

     var $items  = $('<div class="sl-slide sl-slide-color-2" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1"><div class="sl-slide-inner bg-1"><div class="sl-deco" data-icon="t"></div><h2>some text</h2><blockquote><p>bla bla</p><cite>Margi Clarke</cite></blockquote></div></div>');

     // call the plugin's add method
     ss.add($items);

     */

  });
    </script>

    <!--
    <script>
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();

            //>=, not <=
            if (scroll >= 140) {
                //clearHeader, not clearheader - caps H
                $(".menu-profolio").addClass("menu-profolio-scroll");
            } else {
                $(".menu-profolio").removeClass("menu-profolio-scroll");
            }

        });

    </script>-->

    <script src="http://www.hoanvusolutions.com.vn/wp-content/themes/hoanvu/js/jquery.mixitup.js"></script>
    <script>
  $(window).load(function() {
    $(function() {
      $('#mixItUp').mixItUp();
    });
  });

    </script>
    <link rel="stylesheet" href="http://www.hoanvusolutions.com.vn/wp-content/themes/hoanvu/css/animate.css" type="text/css" media="all" />
    <script type="text/javascript" src="http://www.hoanvusolutions.com.vn/wp-content/themes/hoanvu/js/main.js"></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"http:\/\/www.hoanvusolutions.com.vn\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://www.hoanvusolutions.com.vn/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.9'></script>
    <script type='text/javascript' src='http://www.hoanvusolutions.com.vn/wp-includes/js/comment-reply.min.js?ver=4.8.16'></script>
    <script type='text/javascript' src='http://www.hoanvusolutions.com.vn/wp-includes/js/imagesloaded.min.js?ver=3.2.0'></script>
    <script type='text/javascript' src='http://www.hoanvusolutions.com.vn/wp-includes/js/masonry.min.js?ver=3.3.2'></script>
    <script type='text/javascript' src='http://www.hoanvusolutions.com.vn/wp-includes/js/jquery/jquery.masonry.min.js?ver=3.1.2b'></script>
    <script type='text/javascript' src='http://www.hoanvusolutions.com.vn/wp-content/themes/hoanvu/js/functions.js?ver=20140319'></script>
    <script type='text/javascript' src='http://www.hoanvusolutions.com.vn/wp-includes/js/wp-embed.min.js?ver=4.8.16'></script>

</body>

<meta name="google-site-verification" content="emdm74bOQcYVZfuZPE1yyRDsrZnjBgR-vrEmZE9M-7w" />

</html>

